<link rel="stylesheet" href="/css/styleDetailsProductHandlebars.css"> 
<a href="/" class="home-link">Página Principal</a>
<h1>{{pageTitle}}</h1>
{{#if product}}
    <ul class="product-list">   
            <li class="product-item">
                <h3>{{product.title}}</h3>
                <p><strong>Categoría:</strong> {{product.category}}</p>
                <p><strong>Descripción:</strong> {{product.description}}</p>
                <p><strong>Precio:</strong> ${{product.price}}</p>
                <p><strong>Stock:</strong> {{product.stock}}</p>
                <p><strong>Fotos:</strong></p>
                <ul class="thumbnail-list">
                    {{#each product.thumbnails}}
                        <li><img src="/images/{{this}}" alt="thumbnail" class="thumbnail-img"></li>
                    {{/each}}
                </ul>
                <div class="container-buttons">
                    <button onclick="addToCart(event)" data-id="{{product._id}}" class="button-add">Agegar al carrito</button>
                </div>
            </li>
    </ul>
    {{else}}
    <h3 class="no-products">No existe el producto</h3>
{{/if}}

<script>
    async function addToCart(event){
        try{
            const cartId = sessionStorage.getItem("cartId");
                if (!cartId) {
                alert("No hay un carrito activo. Recarga la página para crear uno.");
                return;
            }
            const productId = event.target.getAttribute("data-id");
                        if (!productId) {
                alert("Error: No se pudo obtener el ID del producto.");
                return;
            }

            const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {method:"POST"})
            if(!response.ok){
                throw new Error("No se pudo agregar el producto al carrito")
            }

            alert("Se agrego el producto al carrito de compras")
        }catch(error){
            console.error('Error:', error.message);
            alert("No se pudo agregar el producto al carrito");
        }
    }
</script>