<link rel="stylesheet" href="/css/styleProductsHandlebars.css"> 
<a href="/" class="home-link">Página Principal</a>
<h1 class="title-main">API para Ecommerce</h1>
<h1 class="title-main2">Crea tu producto</h1>
<form action="/realtimeproducts" method="POST" class="product-form" enctype="multipart/form-data">
    <label for="title" class="form-label">Título:</label>
    <input type="text" id="title" name="title" class="form-input" required>

    <label for="category" class="form-label">Categoría:</label>
    <input type="text" id="category" name="category" class="form-input" required>

    <label for="description" class="form-label">Descripción:</label>
    <textarea id="description" name="description" class="form-textarea" required></textarea>

    <label for="code" class="form-label">Código:</label>
    <input type="text" id="code" name="code" class="form-input" required>

    <label for="price" class="form-label">Precio:</label>
    <input type="number" id="price" name="price" class="form-input" required>

    <label for="stock" class="form-label">Stock:</label>
    <input type="number" id="stock" name="stock" class="form-input" required>

    <label for="status" class="form-label">Estado:</label>
    <select id="status" name="status" class="form-select">
        <option value="true">Disponible</option>
        <option value="false">No disponible</option>
    </select>

    <label for="thumbnails" class="form-label">Imágenes:</label>
    <input type="file" id="thumbnails" name="thumbnails" class="form-input" multiple>

    <button type="submit" class="form-button">Crear Producto</button>
</form>

<h2 class="title-sub">Lista de productos en tiempo real</h2>
<div id="products-container">
    {{#if products.length}}
        <ul class="product-list">
            {{#each products}}
                <li class="product-item">
                    <h3>{{this.title}}</h3>
                    <p><strong>Categoría:</strong> {{this.category}}</p>
                    <p><strong>Descripción:</strong> {{this.description}}</p>
                    <p><strong>Precio:</strong> ${{this.price}}</p>
                    <p><strong>Stock:</strong> {{this.stock}}</p>
                    <p><strong>Estado:</strong> {{#if this.status}}Disponible{{else}}No disponible{{/if}}</p>
                    <p><strong>Fotos:</strong></p>
                    <ul class="thumbnail-list">
                        {{#each this.thumbnails}}
                            <li><img src="/images/{{this}}" alt="thumbnail" class="thumbnail-img"></li>
                        {{/each}}
                    </ul>
                    <button data-id="{{this._id}}" class="button-delete">Eliminar</button>
                </li>
            {{/each}}
        </ul>
        <div class="paginacion">
            {{#if pagination.hasPrevPage}}
                <a href="/realtimeproducts?page={{pagination.prevPage}}"> ⏪ Anterior</a>
            {{/if}}
            <p>
                Página {{pagination.currentPage}} de {{pagination.totalPages}}
            </p>
            {{#if pagination.hasNextPage}}
                <a href="/realtimeproducts?page={{pagination.nextPage}}">Siguiente ⏩ </a>
            {{/if}}
        </div>
    {{else}}
        <h3 class="no-products">No existen productos</h3>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const productsContainer = document.getElementById('products-container');

    socket.on('connect', () => {
        console.log('Conectado al servidor de Socket.IO');
    });

    socket.on('getAllProducts', (products) => {
        if (products.length > 0) {
            productsContainer.innerHTML = `
                <ul class="product-list">
                    ${products.map(product => `
                        <li class="product-item">
                            <h3>${product.title}</h3>
                            <p><strong>Categoría:</strong> ${product.category}</p>
                            <p><strong>Descripción:</strong> ${product.description}</p>
                            <p><strong>Precio:</strong> $${product.price}</p>
                            <p><strong>Stock:</strong> ${product.stock}</p>
                            <p><strong>Estado:</strong> ${product.status ? 'Disponible' : 'No disponible'}</p>
                            <p><strong>Fotos:</strong></p>
                            <ul class="thumbnail-list">
                                ${product.thumbnails.map(thumbnail => 
                                    `<li><img src="/images/${thumbnail}" alt="thumbnail" class="thumbnail-img"></li>`
                                ).join('')}
                            </ul>
                            <button data-id="${product._id}" class="button-delete">Eliminar</button>
                        </li>
                    `).join('')}
                </ul>
            `;
        } else {
            productsContainer.innerHTML = '<h3 class="no-products">No existen productos</h3>';
        }
    });

    document.addEventListener('click', async (event) => {
        if (event.target.classList.contains('button-delete')) {
            const productId = event.target.dataset.id;
            try {
                const response = await fetch(`/realtimeproducts/${productId}`, {
                    method: 'DELETE',
                });
                if (!response.ok){
                    throw new Error('Error al eliminar');
                }
                console.log('Producto eliminado');
                socket.emit('requestUpdate');
            } catch (error) {
                console.error('Error:', error.message);
                alert('Error al eliminar el producto');
            }
        }
    });
</script>